body{
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
}


.topo{
    background-color: rgb(67, 73, 87);
    padding: 20px;
    color: rgb(247, 247, 247);
}

.navegation{
    padding: 10px;
    background-color: rgb(57, 62, 70);
    color: rgb(247, 247, 247);
    text-align: center;
}