body {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
    ;
    display: grid;
    background-image: url("./img/web.jpg");
    background-position: center;
    background-size: cover;
}



.topo {
    background-color: rgb(67, 73, 87);
    padding: 20px;
    color: rgb(247, 247, 247);
}

.logo{
    height: 175px;
    width: 240px;
}

.navegation {
    padding: 10px;
    background-color: rgb(57, 62, 70);
    color: rgb(247, 247, 247);
    text-align: center;

}

.edu {
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(247, 247, 247);
    width: 750px;

    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

.t1 {
    
    text-align: center;
    background-color: rgb(247, 247, 247);
}

p {
    text-align: left;
}


iframe {

    align-items: center;
    width: 500px;
    height: 310px;
    border: none;
    border-radius: 10px;
}

.t2 {

    text-align: center;
    background-color: rgb(247, 247, 247);
}

.t3 {
    text-align: center;

    background-color: rgb(247, 247, 247);
}

.t4 {
    text-align: center;

    background-color: rgb(247, 247, 247);
}

.t5 {
    text-align: center;

    background-color: rgb(247, 247, 247);
}

.end {
    color: rgb(247, 247, 247);
    background-color: rgb(57, 62, 70);
    width: 100%;
}

.end p {
    text-align: center;
}

.info-end {
    color: rgb(247, 247, 247);
    background-color: rgb(67, 73, 87);
    border: solid 4px rgb(57, 62, 70);
}

.info-end p {
    text-align: left;
}
